@tailwind base;
@tailwind components;
@tailwind utilities;

#container{
	width: 100%; height: 100%;
	margin: 10px; padding: 0px;
	display: flex; flex-flow: wrap;
	justify-content: space-around;
	align-items: start;
}

#inner{
	width: 350px; min-height: 350px;
	margin: 0px; padding: 10px;
	border-radius: 20px;
	background-color: gray; color: white;
	font-size: 2rem; text-align: center;
}

#interactive{
	width: 320px; height: 240px; 
	margin: 5px; padding: 0px;
	position: relative;
	background-color: silver;
}

#interactive video{
	width: 100%; height: 100%; 
	position: absolute;
	top: 0px; left: 0px;
}

#interactive canvas{
	width: 100%; height: 100%; 
	position: absolute;
	top: 0px; left: 0px;
}

#info{
	width: 100%; height: 100%; 
	margin: 0px; padding: 10px;
  text-align: left;
}

#result{
	width: 100%; height: 100%; 
	font-size: 0.9rem; text-align: center;
  flex-grow: 1; 
}

#result h3{
	font-size: 1.2rem;
}

#result img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
}

.readmore{
  color: #F3D6CC;
  cursor: pointer;
}

.readmore:hover {
  color: #6D1101;
}
